.customer-order-details-main {
  margin: 160px auto 0;
  width: 90%;
}

.customer-order-details-main h2 {
  font-weight: 800;
  margin-bottom: 10px;
}

.customer-order-details-container {
  border: 1px solid var(--background-border-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px;
}
