.navbar-seller {
  background-color: var(--primary-color);
  border: none;
  display: flex;
  font-size: 24px;
  font-weight: 800;
  height: 105px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar-seller section {
  display: flex;
}

.navbar-seller a {
  text-decoration: none;
}

.navbar-seller i {
  margin-right: 4px;
}

.navbar-seller .links-section .orders-link {
  align-items: center;
  background-color: var(--secondary-color);
  color: black;
  display: flex;
  justify-content: center;
  width: 367px;
}

.navbar-seller .user-section .name-element {
  align-items: center;
  background-color: var(--tertiary-color);
  color: white;
  display: flex;
  justify-content: center;
  width: 367px;
}

.navbar-seller .user-section button {
  align-items: center;
  background-color: var(--quaternary-color);
  border: none;
  color: white;
  display: flex;
  font-weight: 800;
  justify-content: center;
  width: 180px;
}
