.seller-order-card-container {
  background-color: var(--background-color);
  border: 1px solid var(--background-border-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  display: flex;
  flex-wrap: wrap;
  height: 190px;
  justify-content: space-between;
  margin-bottom: 30px;
  text-decoration: none;
  transition: 0.5s;
  width: 1100px;
}

.seller-order-card-container:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.seller-order-id-container {
  align-items: center;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: 800;
  justify-content: center;
  line-height: 1.1;
  width: 300px;
}

.seller-order-status-container {
  align-items: center;
  background-color: var(--quaternary-color);
  border-radius: 25px;
  color: white;
  display: flex;
  font-size: 34px;
  font-weight: 800;
  justify-content: center;
  margin: 10px 0;
  width: 400px;
}

.seller-order-date-price-address {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 350px;
}

.seller-order-date-container, .seller-order-price-container {
  align-items: center;
  background-color: var(--background-border-color);
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 28px;
  font-weight: 800;
  height: 65px;
  justify-content: center;
  margin-right: 20px;
  width: 100%;
}

.seller-order-address-container {
  color: black;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
